@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Montserrat:300,900");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

* p {
  font-size: 13px;
}

#app #model {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #model .container {
  position: relative;
  width: 70%;
}

#app #model .container #cruz {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -15px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: 3;
}

#app #model .container #cruz:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#app #model .container .borde {
  padding: 5px;
  margin: auto;
  background-color: #26214D;
  z-index: 4;
}

#app #model .container .borde .content {
  position: relative;
  background-color: #26214D;
  padding: 20px;
  overflow: auto;
  overflow-y: unset;
  height: 500px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#app #model .container .borde .content::-webkit-scrollbar {
  width: 5px;
}

#app #model .container .borde .content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

#app #model .container .borde .content::-webkit-scrollbar-thumb {
  background: #F48576;
  border-radius: 36px;
}

#app #model .container .borde .content img {
  display: block;
  margin: auto;
  padding: 40px 0 30px 0;
  width: 200px;
}

#app #model .container .borde .content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#app #model .container .borde .content h1 {
  color: #F48576;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  text-align: center;
}

#app #model .container .borde .content p {
  font-weight: 400;
  padding-top: 20px;
  color: white;
  width: 70%;
  font-size: 13px;
  letter-spacing: .5px;
  line-height: 25px;
  margin: auto;
}

#app #model .container .borde .content .redes {
  position: absolute;
  margin-top: 50px;
  right: 30%;
}

#app #model .container .borde .content .redes img {
  width: 25px;
  padding: 3px;
  display: inline-block;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#app #model .container .borde .content .redes img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#app #container {
  width: 100%;
  /*
       #ponentes {
            position: relative;
            padding-top: 50px;
            background-color: $azul;

            .contents {
                width: 80%;
                margin: auto;
                padding-bottom: 50px;

                >h1 {
                    letter-spacing: 20px;
                    font-size: $h1;
                    text-transform: uppercase;
                    color: $salmon;
                    font-family: $mont;
                    font-weight: 900;
                }


                .ponentes {
                    width: 80%;
                    margin: auto;
                    height: 400px;
                    position: relative;


                    .container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        white-space: nowrap;

                        .content {
                            margin-top: 15px;
                            white-space: normal;
                            display: inline-block;
                            vertical-align: middle;

                            >p {
                                color: $salmon;
                                cursor: pointer;
                                margin-left: 20px;
                                font-size: 12px;
                                letter-spacing: .2px;
                                animation-name: zoom;
                                animation-duration: 1s;
                                animation-iteration-count: infinite;

                                @keyframes zoom {
                                    0% {
                                        color: $salmon
                                    }

                                    50% {
                                        color: white;
                                    }

                                    100% {
                                        color: $salmon
                                    }
                                }
                            }

                            .distance {
                                background-color: $salmon;
                                padding: 2px;

                                .info {
                                    overflow-x: auto;
                                    padding: 15px;
                                    width: 500px;
                                    height: 200px;

                                    &::-webkit-scrollbar {
                                        width: 3px;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        border-radius: 20px;
                                        background: $azul;
                                    }

                                    p {
                                        color: $azul;
                                        font-size: 14px;
                                        letter-spacing: .5px;
                                        line-height: 20px;
                                        margin-top: 15px;
                                    }

                                    h2 {
                                        margin-bottom: 30px;
                                        font-size: 40px;
                                        text-transform: uppercase;
                                        color: white;
                                        letter-spacing: 5px;
                                        font-family: $mont;
                                        font-weight: 900;
                                    }

                                    .redes {
                                        float: right;
                                        margin-top: 20px;
                                        width: 100%;
                                        background-color: $azul;

                                        img {
                                            margin: 5px;
                                            width: 20px;
                                        }
                                    }
                                }
                            }
                        }

                        .photo {
                            white-space: pre-wrap;
                            vertical-align: middle;
                            display: inline-block;

                            img {
                                width: 276px;
                            }
                        }
                    }
                }
            }
        }*/
}

#app #container #nav {
  z-index: 2;
  position: fixed;
  height: 60px;
  background-color: #F48576;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #container #nav .size {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #container #nav .size img {
  height: 40px;
}

#app #container #nav .size .links ul {
  display: inline-block;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  #app #container #nav .size .links ul {
    position: fixed;
    margin: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.9);
  }
}

#app #container #nav .size .links ul li {
  list-style-type: none;
  color: #bd6060;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
  letter-spacing: 2px;
  text-align: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media screen and (max-width: 1000px) {
  #app #container #nav .size .links ul li {
    margin-top: 0;
    display: block;
    margin-top: 20px;
    background-color: black;
    padding: 5px;
  }
}

#app #container #nav .size .links ul li a {
  height: 150px;
  font-weight: 900;
  font-size: 12px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  #app #container #nav .size .links ul li a {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
  }
}

#app #container #nav .size .links ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#app #container header {
  height: 600px;
  background-image: url("assets/img/textura.png");
  background-size: 20px 20px;
  position: relative;
}

#app #container header .animated {
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 0;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

#app #container header .current {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#app #container header .content {
  width: 80%;
  margin: auto;
}

#app #container header .content .words {
  position: relative;
  top: 220px;
}

#app #container header .content .words h1 {
  padding: 10px;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-weight: 300;
  font-size: 20px;
  -webkit-transition: font-size .5s ease-in-out;
  transition: font-size .5s ease-in-out;
}

#app #container header .content .words .current {
  width: 200px;
  z-index: 2;
  font-weight: 900;
  font-size: 50px;
}

@media screen and (max-width: 1000px) {
  #app #container header .content .words .current {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

#app #container header #fecha-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#app #container header #fecha-btn #fecha {
  width: 250px;
  position: absolute;
  bottom: 40px;
}

#app #container header #fecha-btn #fecha .up {
  padding-left: 50px;
  background-color: white;
  padding: 5px;
}

#app #container header #fecha-btn #fecha .up span {
  font-weight: 900;
}

#app #container header #fecha-btn #fecha .down {
  padding-left: 50px;
  padding: 5px;
  background-color: #14bccf;
  color: white;
  text-transform: uppercase;
}

#app #container header #fecha-btn #fecha .down p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}

#app #container header #fecha-btn img {
  height: 50px;
}

#app #container #partner {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: white;
}

#app #container #partner .info h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 10px;
  color: #F48576;
  font-size: 60px;
}

#app #container #partner #media-partners {
  margin-top: 40px;
  margin-bottom: 120px;
  margin: auto;
  width: 70%;
}

#app #container #partner #media-partners .content #items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
}

#app #container #partner #media-partners .content #items .item {
  position: relative;
  overflow: hidden;
}

#app #container #partner #media-partners .content #items .item > img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  -o-object-fit: cover;
     object-fit: cover;
}

#app #container #partner #media-partners .content #items .item > img:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#app #container #partner #media-partners .content #items .item > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  background-color: #F48576;
  padding: 5px;
  position: absolute;
  -webkit-transform: translate(-226px, 20px);
          transform: translate(-226px, 20px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  letter-spacing: 5px;
  font-size: 12px;
  z-index: 1;
}

#app #container #partner #media-partners .content #items .item:hover p {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

#app #container #partner #media-partners .content #items .item .redes {
  height: 20px;
  position: absolute;
  bottom: 3px;
  right: 0px;
  padding: 5px;
  border-radius: 10px 0 0 0;
  background-color: #F48576;
}

#app #container #partner #media-partners .content #items .item .redes a img {
  position: relative;
  width: 20px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  padding: 0 5px 0 5px;
}

#app #container #partner #media-partners .content #items .item .redes a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#app #container #partner #media-partners .content button {
  margin: 120px;
  display: block;
  border: none;
  margin: auto;
  border-radius: 36px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #F48576;
  letter-spacing: 5px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#app #container #partner #media-partners .content button:hover {
  background-color: #26214D;
}

#app #container #suscribe {
  width: 100%;
  background-color: #F48576;
  padding: 50px 0 50px 0;
}

#app #container #suscribe #form-content {
  width: 90%;
  margin: auto;
}

#app #container #suscribe #form-content h1 {
  color: white;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#app #container #suscribe #form-content form {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  font-family: "Lato", sans-serif;
}

#app #container #suscribe #form-content form label {
  font-size: 12px;
  color: white;
}

#app #container #suscribe #form-content form > input {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px;
}

#app #container #suscribe #form-content form > input::-webkit-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form > input:-ms-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form > input::-ms-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form > input::placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form textarea {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px;
  resize: none;
}

#app #container #suscribe #form-content form textarea::-webkit-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form textarea:-ms-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form textarea::-ms-input-placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form textarea::placeholder {
  color: #c8c8c8;
}

#app #container #suscribe #form-content form .btn {
  margin-top: 20px;
  text-align: center;
}

#app #container #suscribe #form-content form .btn > input {
  border: none;
  padding: 10px;
  border-radius: 36px;
  background-color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #F48576;
}

#app #container #suscribe #form-content form .btn > input:hover {
  background-color: #f0f0f0;
}

#app #container #suscribe #form-content form #validate {
  color: white;
  font-size: 14px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#app #container #suscribe #form-content form #validate p,
#app #container #suscribe #form-content form #validate input {
  display: inline-block;
  vertical-align: top;
}

#app #container #suscribe #form-content form #validate p {
  margin-left: 10px;
}

#app #container #suscribe #form-content form #validate p a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

#app #container #suscribe #form-content form #validate p a:hover {
  color: #f0f0f0;
}

#app #container footer {
  background-color: #26214D;
}

#app #container footer .content {
  padding: 40px;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#app #container footer .content .hed img {
  width: 100px;
}

#app #container footer .content .hed p {
  font-size: 10px;
  color: white;
  margin-top: 20px;
}

#app #container footer .content ul {
  display: inline-block;
  margin-left: 40px;
  padding-left: 40px;
  border-left: 1px solid white;
}

#app #container footer .content ul li {
  list-style-type: none;
  font-weight: 900;
  color: white;
  font-size: 12px;
  margin: 10px 0 10px 0;
}

#app #container footer .content ul li a {
  text-decoration: none;
  color: white;
}

#app #container footer .content .redes {
  position: absolute;
  top: 40px;
  right: 40px;
}

#app #container footer .content .redes img {
  width: 25px;
  margin: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#app #container footer .content .redes img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#app #container #patro h2,
#app #container #patro h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  color: #F48576;
}

@media screen and (max-width: 1000px) {
  #app #container #patro h2,
  #app #container #patro h1 {
    font-size: 10px;
  }
}

#app #container #patro h2 {
  margin-top: 50px;
}

#app #container #patro h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  #app #container #patro h1 {
    font-size: 10px;
  }
}

#app #container #patro .items {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

#app #container #patro .items a {
  padding: 20px;
}

#app #container #patro .items a > img {
  margin: 5px;
  width: 100px;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-transform .3s, -webkit-filter .3s;
  transition: -webkit-transform .3s, -webkit-filter .3s;
  transition: transform .3s, filter .3s;
  transition: transform .3s, filter .3s, -webkit-transform .3s, -webkit-filter .3s;
}

#app #container #patro .items a > img:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#app #container #ponentes {
  background-color: #26214D;
  padding: 50px 0 100px 0;
}

#app #container #ponentes h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #F48576;
  text-align: center;
  letter-spacing: 20px;
  margin-bottom: 50px;
}

#app #container #ponentes .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 70%;
}

#app #container #ponentes .container .data {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#app #container #ponentes .container .data h2,
#app #container #ponentes .container .data p {
  color: #26214D;
}

#app #container #ponentes .container .data h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}

#app #container #ponentes .container .data .photo img {
  width: 300px;
}

#app #container #ponentes .container .data .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app #container #ponentes .container .data .info .content-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app #container #ponentes .container .data .info .content-info .centering {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#app #container #ponentes .container .data .info .content-info .centering .title {
  border-bottom: 1px solid #26214D;
  margin-bottom: 20px;
}

#app #container #ponentes .container .data .info .bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #container #ponentes .container .data .info .bottom button {
  font-family: "Lato", sans-serif;
  color: white;
  border: none;
  background-color: #F48576;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 11px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#app #container #ponentes .container .data .info .bottom button:hover {
  background-color: #26214D;
}

#app #container #ponentes .container .data .info .bottom .redes img {
  width: 25px;
  margin: 5px;
}

#app #container #ponentes .container .data .fecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #26214D;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#app #container #ponentes .container .data .fecha h2 {
  text-align: center;
  font-size: 20px;
}

#app #container #ponentes .container .data .fecha .dia {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

#app #container #ponentes .container .data .fecha .lugar {
  border-bottom: 1px solid #26214D;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

#app #container #ponentes .container .data .fecha .lugar > h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#app #container #ponentes .container .arrow {
  background-color: #F48576;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #26214D;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#app #container #ponentes .container .arrow:hover {
  color: #F48576;
  background-color: #26214D;
}

#app #container #ponentes .container .arrow:nth-child(1) {
  padding-right: 20px;
}

#app #container #ponentes .container .arrow:nth-child(3) {
  padding-left: 20px;
}

@media (max-width: 760px) {
  #app #container {
    width: 100%;
  }
  #app #container #infosita #model .container {
    width: 100%;
  }
  #app #container #nav {
    margin-top: 0;
    position: fixed;
  }
  #app #container #nav .menu {
    position: relative;
  }
  #app #container #nav .menu input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 2;
  }
  #app #container #nav .menu input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
  #app #container #nav .menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
  }
  #app #container #nav .menu ul {
    background-color: red;
  }
  #app #container #nav .menu ul li {
    display: block;
  }
  #app #container #patro {
    width: 100%;
  }
  #app #container #patro .items {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #app #container #patro .items > a {
    padding: 50px;
  }
  #app #container #patro .items > a > img {
    width: 200px;
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  #app #container #patro h1,
  #app #container #patro h1 {
    font-size: 20px;
  }
  #app #container #suscribe #form-content {
    width: 100%;
  }
  #app #container #suscribe #form-content h1 {
    font-size: 20px;
    text-align: center;
  }
  #app #container #suscribe #form-content form {
    width: 90%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}
/*# sourceMappingURL=style.css.map */